
.editor-image {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  /* margin-bottom: 6px; */
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
/*
  top: 0;
  -webkit-filter: none;
  filter: none;
  -webkit-transition: top 0.25s, -webkit-filter 0.25s;
  transition: top 0.25s, filter 0.25s;
*/
}

.editor-image:hover {
  cursor: pointer;
/*
  position: relative;
  top: -5px;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
  -webkit-transition: top 0.05s, -webkit-filter 0.25s;
  transition: top 0.05s, filter 0.25s;
*/
}

.frame {
  border: 5px solid #343434;
}

.editor-block {
  margin-top: 1em; /* 5 */
  margin-bottom: 1em; /* 0 */
  /* cursor: text; */
}

.editor-text {
  border: none;
  margin: 10px 1em 10px 1em;
  min-height: 22px;
  margin-top: 2px; /* 5 */
  margin-bottom: 2px; /* 0 */
  overflow: hidden;
  cursor: text;
}

.editor-text h1 {
  text-align: center;
}

/*  I M A G E   W I D G E T S   */

.img-widget {
  position: absolute;
  z-index: 500;
  display: none;
  width: 35px;
  height: 35px;
  margin: 2px;
  border-radius: 25px;
  background-color: white; /* #ddd; /* #e8e8e8; */
  border: 2px solid #4b4;
}

.img-widget img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  position: relative;
  left: 8px;
  top: 1px;
}

.img-widget.block-move-left img {
  left: 10px;
}

.img-widget.block-move-right img {
  left: 12px;
}

.img-widget:hover {
  background-color: #bfb;
  border-color: #bfb;
  cursor: pointer;
}

.img-widget.block-delete {
  border-color: red;
}

.img-widget.block-delete:hover {
  background-color: #fbb;
  border-color: #fbb;
}

/*
.img-widget.block-delete img {
  position: relative;
  pointer-events: none;
  left: 10px;
  top: 2px;
}
*/

/* B L O C K    C O M M A N D */

#blockCmd {
  position: absolute;
  opacity: 1;
  width: 80px;
  height: 110px;
  border-radius: 20px;
  background-color: #f0f0f0; /* #eee; */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#blockCmd div {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 2px;
  border-radius: 25px;
}

#blockCmd div[data-toggle]:hover {
  cursor: pointer;
}

#blockCmd img {
  position: relative;
  pointer-events: none;
  left: 10px;
  top: 2px;
}

#blockCmd .block-new2-down img,
#blockCmd .block-new2-up img {
  left: 4px;
  top: 5px;
}

#blockCmd .block-move-down {
  top: -37px;
  left: 40px;
}

#blockCmd .block-move-down:hover {
  background-color: #bfb;
}

#blockCmd .block-move-up {
  top: -149px;
  left: 40px;
}

#blockCmd .block-move-up:hover {
  background-color: #bfb;
}

#blockCmd .block-delete {
  top: 0;
  left: 40px;
}

#blockCmd .block-delete:hover {
  background-color: #fbb;
}

#blockCmd .block-new2-up {
  display: none;
  top: -222px;
  left: -31px;
}

#blockCmd .block-new2-down {
  display: none;
  top: -148px;
  left: -31px;
}

#blockCmd .block-new-down:hover,
#blockCmd .block-new2-down:hover,
#blockCmd .block-new-up:hover,
#blockCmd .block-new2-up:hover {
  background-color: #bfb;
}

#blockCmd .block-number {
  top: -146px;
  left: 11px;
  font-weight: 900;
  font-size: 20px;
  color: #4aa;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
  pointer-events: none;
}
