body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #000000;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%
}

p{
  font-size: 14pt;
}

html {
  height: 100%;
}

samp {
  font-size: 1.3em;
}

a {
  color: #000;
  background-color: #fff;
}

sup a {
  text-decoration: none;
}

hr {
  margin-left: 90px;
  height: 1px;
  color: #000000;
  background-color: #000000;
  border: none;
}

.rotate {
  transform: rotate(-90deg);

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:dximagetransform.microsoft.basicimage(rotation=3);
  position: relative;
  top: 10px;
}

.score {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

.collapsible {
  /*background-color: #777;*/
  background-color: rgb(108, 117, 125);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 184px;
  border: none;
  margin: 1px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible-content {
  -webkit-user-select: none;
  user-select: none;
  padding: 0 18px;
  display: none;
  overflow: hidden;
/*  width: 100%; */
  background-color: #fff;
}

.hcollapsible {
  -webkit-user-select: none;
  user-select: none;
  background-color: #6c757d;

  /*  flex: 0,0,60px;  /* 0,0,300px; */
  color: white;
  cursor: pointer;
  padding-top: 80px;
  padding-right: 2px;
  padding-left: 0;
  height: 160px;  /* 30% */
  width: 28px; /* 24px */
  border: none;

  /* text-align: center; */
  outline: none;
  font-size: 14px; /* 15px */
  letter-spacing: 1px;
}

.active, .collapsible:hover {
  background-color: #aaa;
}

.hcollapsible-content {
  -webkit-user-select: none;
  user-select: none;
  padding: 0 18px;
  flex: 0, 0, 300px;
  display: none;
  overflow: auto;
  width: 300px;
  background-color: #fff;
}

/* #menu button{
  height: 30px;
  font-size: 24px;
  min-width: 30px;
  background: #fff0;
  border-style: hidden;
  border-radius: 2px;
  border-width: 1px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
} */

/* #menu button:hover{
  color: #00f;
  text-decoration: underline;
  border-style: round;
  border-radius: 2px;
  border-width: 1px;
  border-color: #333;
} */

/* #toolbar select{
  height: 30px;
  font-size: 24px;
  min-width: 40px;
  border-style: hidden;
}

#toolbar select:hover{
  height: 30px;
  font-size: 24px;
  min-width: 40px;
  border-style: line;
} */

/* #toolbar button{
  height: 30px;
  font-size: 24px;
  min-width: 40px;
  background: #fff0;
  border-style: hidden;
  border-radius: 2px;
  border-width: 1px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
} */

button span {
  margin: auto;
}

#page {
  width: 210mm;
  height: 297mm;
  background: #fff;
  margin: auto;
  border-style: round;
  border-radius: 3px;
  padding: 1in;
}

#page-container {
  background: #ddd;
  flex-grow: 1;

  /* -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; */
  padding-top: 20px;
  padding-bottom: 20px;
}

#page-container:hover {
  /* background: #eee; */
}

/*
#analysis-container{
  margin: 10px 20px 10px 20px;
  flex: 0,0,200px;
  width:400px;
  background-color: #f1f1f1;
}
*/

#analysis-content {
  margin-bottom: 20px;
  width: 184px;
}

#analysis-content input {
  margin: 2px;
}

#content {
  position: relative;
  maafin: aut90;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}

/*
#toolbar button:hover{
  border-style: round;
  border-radius: 2px;
  border-width: 1px;
  border-color: #333;
  color: blue;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 10px 0rgba(0,0,0,0.19);
} */


.box {
  position: absolute;

  /* border: 1px solid black; */
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.hbox {
  position: relative;
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;
  background-color: #ddd;
}

/*  ------------------  S E B   ------------------ */

/*  ------------------  S E B   ------------------ */

/* main menu  */

#main-menubar {
  -webkit-user-select: none;
  user-select: none;
  margin-left: 15px;
  height: 36px;
}

.main-menu {
  font-size: 16px;
  display: inline-block;
  position: relative;
  top: 1px;
}

.dropdown-toggle:hover {
  cursor: pointer;
}

/*                      toolbar  */

#toolbar {
  height: 72px; /* 76 */
  background-color: #eee;
  color: white;
}

#toolbarlist {
  position: relative;
  left: 0;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap; /* anti wrapping */
}

#toolbarlist div { /* #bold  .tool etc. */
  display: inline-block;
  position: relative;
  font-family: sans-serif;
}

#toolbarlist > div {
  pointer-events: none;
}

#toolbarlist > div > div {
  pointer-events: initial;
}

.tool {
  width: 30px;
  text-align: center;
  vertical-align: baseline;
  top: 0;
  z-index: 500;
}

.tool-frame-bullet {
  width: 30px;
  top: 0;
}

/*                  BOLD */
#bold {
  color: black;
  left: 0px;
}

.bold-false {
  font-weight: 300;
  font-size: 38px;
}

.bold-true {
  font-weight: 900;
  font-size: 38px;
  left: -10px;
}

/*                  SIZE */
#size {
  color: black;
  left: -64px;
}

.size-s1 {
  font-weight: 300;
  font-size: 28px;
}

.size-s2 {
  font-weight: 200;
  font-size: 38px;
  left: -12px;
}

.size-s3 {
  font-weight: 100;
  font-size: 48px;
  left: -20px;
}

/*                  COLOR */
#color {
  color: black;
  left: -158px;
}

.color-black {
  font-weight: 200;
  font-size: 38px;
  color: black;
}

.color-red {
  font-weight: 200;
  font-size: 38px;
  color: red;
  left: -10px;
}

.color-blue {
  font-weight: 200;
  font-size: 38px;
  color: blue;
  left: -20px;
}

.color-green {
  font-weight: 200;
  font-size: 38px;
  color: green;
  left: -30px;
}

.color-custom {
  font-weight: 400;
  font-size: 28px;
  color: black;
  left: -40px;
}

#tool-limit {
  font-weight: 100;
  font-size: 42px;
  left: -54px;
  top: -10px;
  color: #ccc;
}

/*                  TITLE */
#title {
  color: black;
  left: -240px;
}

.title-h1 {
  font-weight: 600;
  font-size: 38px;
}

.title-h2 {
  font-weight: 600;
  font-size: 30px;
  left: -10px;
}

.title-h3 {
  font-weight: 600;
  font-size: 24px;
  left: -20px;
}

.title-h4 {
  font-weight: 600;
  font-size: 18px;
  left: -32px;
}

.title-none {
  font-weight: 200;
  font-size: 38px;
  left: -42px;
}

/*                  FRAME */
#frame {
  color: black;
  left: -335px;
}

.frame-true {
  font-weight: 200;
  font-size: 38px;
}

.frame-false {
  font-weight: 200;
  font-size: 38px;
  left: 24px;
}

/*                  BULLET */
#bullet {
  color: black;
  left: -364px;
}

.bullet-true {
  font-weight: 200;
  font-size: 38px;
}

.bullet-false {
  font-weight: 200;
  font-size: 38px;
  left: 24px;
}

/*              caption     */
.caption {
  pointer-events: none;
  position: relative;  /* absolute */
  top: -30px;
  z-index: 100;
  font-weight: 400;
  font-size: 18px;
  color: #888;
}

#bold-caption {
  left: 50px;
}

#size-caption {
  left: 62px;
}

#color-caption {
  left: 96px;
}

#title-caption {
  left: 82px;
}

#frame-caption {
  left: 65px;
}

#bullet-caption {
  left: 65px;
}

.tool-cursor {
  position: absolute;
  top: +14px;
  z-index: 80;
}

/* *********************** */

/*      simples span     */
.simples-span {
  -webkit-user-select: none;
  user-select: none;
  float: right;
  position: relative;
  top: -68px;
  right: 0;
  z-index: 600;
}

/*     scroll toolbar */
.arrows {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: initial;
  display: inline-block;
  position: relative;
  top: -68px;
  cursor: pointer;
  background-color: #ddd; /* #6c757d; */
  width: 24px;
  height: 65px;
  z-index: 500;
  opacity: 50%;
}

.arrows:hover {
  background-color: #bbb;
}

.arrow-l {
  float: left;
}

.arrow-r {
  float: right;
}

#img-l {
  position: relative;
  top: 16px;
  left: 10px;
  pointer-events: none;
}

#img-r {
  position: relative;
  top: 16px;
  right: 0;
  pointer-events: none;
}

/*     Simples! button */
.simples-button {
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  width: 84px;
  height: 65px; /* 64 */

  /* background-color: hsla(167, 39%, 31%, 1);
  hsla(166, 100%, 30%, 1); */
  background-color: #2ea35f;
}

/*  divers */
#lexique3-connection {
  display: none;
}

/* rebonds sur .tool */
.tool:hover,
.tool-frame-bullet:hover {
  top: -5px;
  -webkit-transition: top 0.15s;
  transition: top 0.15s;
  cursor: pointer;
}

/*             ...suite #content
	background:
		af Shadow cov90s
		/*linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, */

/* Shadows */

/*
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;

	background:
*/

/* Shadow covers */

/* linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, */

/* Shadows */

/*
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: #eeeeee;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
*/

/* Opera doesn't support this in the shorthand */

/*	background-attachment: local, local, scroll, scroll; */

/* } */

/*
.slider-container{
  width:100%;
  background: #DDD;
}

.slider{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #777;
  outline: none;
  opacity: 0;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #af9050;
  cursor: pointer;
}

.slider::-moz-range-thumb{
  width:25px;
  height:25px;
  background: #af9050;
  cursor: pointer;
}
*/
