body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: #000;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

button:focus { /* get rid of the blue for buttons */
  outline: 0 !important;
}

p {
  font-size: 14pt;
}

html {
  height: 100%;
}

samp {
  font-size: 1.3em;
}

a {
  color: #000;
  background-color: #fff;
}

sup a {
  text-decoration: none;
}

hr {
  margin-left: 90px;
  height: 1px;
  color: #000;
  background-color: #000;
  border: none;
}

.rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari */
  -moz-transform: rotate(-90deg);   /* Firefox */
  -ms-transform: rotate(-90deg); /* IE */
  -o-transform: rotate(-90deg); /* Opera */

  /* Internet Explorer */
  filter: progid:dximagetransform.microsoft.basicimage(rotation=3);
  position: relative;
  top: 10px;
}

.score {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
}

#result-export {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
  color: hsla(160, 100%, 30%, 1);
  border-width: 0;
  padding-bottom: 8px;
  padding-top: 8px;
}

#result-export:hover {
  cursor: pointer;
  color: #00b960;
}

.ruleButton {
  display: inline-block;
  align-self: center;
  align: right;
  color: white;
  background: red;
  border-radius: 5px;
  border: 1px solid red;
  cursor: pointer;
  margin: 2px;
}

#redo-analyse {
  display: flex;
  /* float: right; */
  margin: auto;
  /* border-radius: 7px; */
  border: none;
  border-bottom: 4px solid #ccc;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 1px;
  background-color: #f6f6f6;
  font-size: 13pt;
  font-weight: 600;
  cursor: pointer;
}

#redo-analyse:hover {
  border-color: hsla(160, 100%, 30%, 1); /* #009940; */
}

.collapsible {
  background-color: rgb(108, 117, 125);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 184px;
  border: none;
  margin: 1px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible-content {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #fff;
}

.collapsible:hover {
  background-color: #aaa;
}

.hcollapsible {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
  background-color: #dbdbdb;
  color: hsla(160, 100%, 30%, 1); /* #009940; */ /* COLOR_GREEN */
  cursor: pointer;
  padding-top: 80px;
  padding-right: 2px;
  padding-left: 0;
  height: 170px;
  width: 28px;
  border-color: #ececec;
  border-width: 2px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

.hcollapsible:hover {
  /* background-color: #eee !important; */
  border-color: #ececec;
  background-color: white;
}

.hcollapsible-content {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
/*  padding: 0 18px; */
  padding-left: 7px;
/*  flex: 0, 0, 300px; */
  display: none;
  overflow: auto;
  width: 250px; /* 300 */
  background-color: #fff;
  border-left: 1px solid #ccc;
}

/* #menu button{
  height: 30px;
  font-size: 24px;
  min-width: 30px;
  background: #fff0;
  border-style: hidden;
  border-radius: 2px;
  border-width: 1px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
} */

/* #menu button:hover{
  color: #00f;
  text-decoration: underline;
  border-style: round;
  border-radius: 2px;
  border-width: 1px;
  border-color: #333;
} */

/* #toolbar select{
  height: 30px;
  font-size: 24px;
  min-width: 40px;
  border-style: hidden;
}

#toolbar select:hover{
  height: 30px;
  font-size: 24px;
  min-width: 40px;
  border-style: line;
} */

/* #toolbar button{
  height: 30px;
  font-size: 24px;
  min-width: 40px;
  background: #fff0;
  border-style: hidden;
  border-radius: 2px;
  border-width: 1px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
} */

button span {
  margin: auto;
}

#page {
  width: 21cm;
  min-height: 29.7cm;
  background: #fff;
  margin: auto;
  /* margin-left: 0; */
  border-radius: 3px;
  padding: 1in;
}

#page-container {
  background: #f0f0f0; /* TOOL_BACK_COLOR */
  flex-grow: 1;

  /* -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; */
  padding-top: 20px;
  padding-bottom: 20px;
}

/*
#analysis-container{
  margin: 10px 20px 10px 20px;
  flex: 0,0,200px;
  width:400px;
  background-color: #f1f1f1;
}
*/

.popover-header {
  font-size: 16pt;
  font-family: Arial;
}

.popover-body {
  font-family: Arial;
  font-size: 14pt;
}

#analysis-content li {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1em;
  margin: 2em 0px;
}

#analysis-content input {
  margin: 2px;
  font-size: 14pt;
}

#content {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}

/*
#toolbar button:hover{
  border-style: round;
  border-radius: 2px;
  border-width: 1px;
  border-color: #333;
  color: blue;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 10px 0rgba(0,0,0,0.19);
} */

.box {
  position: absolute;

  /* border: 1px solid black; */
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
}

.hbox {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  /*flex-flow: row;*/
  height: 100%;
  width: 100%;
  background-color: #f0f0f0; /* TOOL_BACK_COLOR */
}

.hbox>div{
  height: 100%;
  overflow-y: hidden;
}

/*.rulesScores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}*/

#analysisPanel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 100%;
}

#analysisSidebar {
  background-color: hsla(160, 100%, 30%, 1); /* #009940; */
}

#analysisExpander {
  border-left: solid 6px hsla(160, 100%, 30%, 1); /* #009940; */
}

#analysisExpanderButton {
  background-color: hsla(160, 100%, 30%, 1); /* #009940; */
  color: white;
  border-radius: 0px 35px 35px 0px;
  border: solid 0px transparent;
  font-size: 40px;
}

#analysisExpanderButton:hover {
  background-color: #00B960;
}

.sidebar-button {
  display: block;
  height: 75px;
  width: 75px;
  background-color: hsla(160, 100%, 30%, 1); /* #009940; */
  color: white;
  font-size: 40px;
  border: 1px solid transparent;
}

.sidebar-button:hover {
  background-color: #00B960;
  color: white;
  border: 1px solid white;
}

#analysisContentPanel {
  background-color: #f6f6f6;
  width: 30vw;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  border-top: solid 5px hsla(160, 100%, 30%, 1); /* #009940; */
  border-bottom: 5px solid hsla(160, 100%, 30%, 1); /* #009940; */
  overflow-y: hidden;
  /*border-left: 3px solid #f6f6f6;
  border-right: 1px solid #ccc;*/
  /* border: 5px solid #009940;
  border-radius: 20px; */

  /*overflow-y: scroll;*/
  /*max-width: 50%;
  min-width: 200px;*/
}

.nav { /* bootstrap class extend */
  font-weight: 600;
  line-height: 1.3;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
}

.nav p {
  font-size: 12pt;
}

a.nav-link {
  padding: 5px;
  height: 100%;
  background-color: transparent;
  color: #777;
}

a.nav-link:hover {
  color: black;
}

a.nav-link.active {
  color: black !important; /* #0056b3 blue */
}

a.nav-link p {
  margin: 0;
}

a.nav-link p span {
  font-weight: 400;
}

li.nav-item {
  display: block;
}

#analysis-content {
  font-size: 12pt;
  overflow-y: scroll;
  max-height: 100%;
  background-color: white;
  padding-top: 8px;
  /* border-left: 1px solid #dfe2e6; */
}

#analysis-content > div {
  overflow-y: visible;
}

/*  ------------------  S E B   ------------------ */

/*  ------------------  S E B   ------------------ */

/* main menu  */

#main-menubar {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
  margin-left: 100px;
  margin-top: 2px;
  border-bottom: 1px solid #b6b4b6;
  /* height: 36px; */
  display: grid;
  grid-template-columns: 1fr auto;
}

#versionnumberbutton {
  background: #333333;
  border: 0px solid #333333;
  border-radius: 25px;
  font-size: 14pt;
  cursor: pointer;
  margin: 5px;
  color: white;
}

#versionbutton {
  background: #c10000;
  border: 0px solid #c10000;
  border-radius: 25px;
  font-size: 14pt;
  cursor: pointer;
  margin: 5px;
  color: white;
}

#pingbutton {
  background: transparent;
  border: 0px solid;
  font-size: 17pt;
  cursor: pointer;
  margin: 0 1em;
  color: #c10000;
}

.main-menu { /* menu button */
  color: #353a40; /* #009940; /* COLOR_GREEN */
  background-color: white;
  border: none;
  font-size: 20px;
}

.main-menu:hover {
  /* background-color: #888; */
}

.dropdown-toggle:hover {
  cursor: pointer;
}

/*                      toolbar  */

#logoLirec {
  position: fixed;
  height: 80px;
  width: 80px;
  left: 0; /* -1px; */
  top: 15px; /* 9px; */
  /* transform: rotate(-20deg); */
}

#toolbarBottomMask {
  z-index: 500;
  position: absolute;
  top: 92px;
  height: 22px;
  width: 100%;
}

#toolbarScrollBar {
  height: 13px;
  border-bottom: 1px solid #b6b4b6;
}

#toolbar {
  height: 72px; /* 76 */
  background-color: white; /* #f0f0f0; /* TOOL_BACK_COLOR */
  color: white;
}

#toolbarlist {
  position: relative;
  top: 8px;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
  white-space: nowrap; /* anti wrapping */
  padding-left: 20px;
}

#toolbarlist div { /* #bold .tool etc. */
  display: inline-block;
  position: relative;
  font-family: sans-serif;
}

#toolbarlist > div {
  pointer-events: none;
}

#toolbarlist > div > div {
  pointer-events: initial;
}

.tool {
  width: 30px;
  text-align: center;
  vertical-align: baseline;
  top: 0;
  z-index: 500;
}

.tool-frame-bullet {
  width: 30px;
  top: 0;
}

/*                  BOLD */
#bold {
  color: black;
}

.bold-false {
  font-weight: 300;
  font-size: 38px;
}

.bold-true {
  font-weight: 900;
  font-size: 38px;
  left: -10px;
}

/*                  SIZE */
#size {
  color: black;
}

.size-s1 {
  font-weight: 300;
  font-size: 28px;
}

.size-s2 {
  font-weight: 200;
  font-size: 38px;
  left: -12px;
}

.size-s3 {
  font-weight: 100;
  font-size: 48px;
  left: -20px;
}

/*                  COLOR */
#color {
  color: black;
}

.color-black {
  font-weight: 200;
  font-size: 38px;
  color: black;
}

.color-red {
  font-weight: 200;
  font-size: 38px;
  color: #c10000;
  left: -10px;
}

.color-blue {
  font-weight: 200;
  font-size: 38px;
  color: blue;
  left: -20px;
}

.color-green {
  font-weight: 200;
  font-size: 38px;
  color: #006700; /* COLOR_GREEN */
  left: -30px;
}

.color-custom {
  font-weight: 400;
  font-size: 28px;
  color: black;
  left: -40px;
}

.tool-limit {
  font-weight: 100;
  font-size: 42px;
  color: #ccc;
}

#tool-limit-color {
  left: -54px;
  top: -10px;
}

#tool-limit-number {
  left: 23px;
  top: -10px;
}

/*                  TITLE */
#title {
  color: black;
}

.title-h1 {
  font-weight: 600;
  font-size: 38px;
}

.title-h2 {
  font-weight: 600;
  font-size: 30px;
  left: -10px;
}

.title-h3 {
  font-weight: 600;
  font-size: 24px;
  left: -20px;
}

.title-h4 {
  font-weight: 600;
  font-size: 18px;
  left: -32px;
}

.title-none {
  font-weight: 200;
  font-size: 38px;
  left: -42px;
}

/*                  BULLET */
#bullet {
  color: black;
}

.bullet-true {
  font-weight: 200;
  font-size: 38px;
}

/*                  NUMBER  */
.number-true {
  font-weight: 200;
  font-size: 38px;
}

/*                  FRAME  */
#frame {
  color: black;
}

.frame-true {
  font-weight: 200;
  font-size: 38px;
}

/*                  PICTURE */
#picture,
#pictureL {
  color: black;
}

.picture-true,
.pictureL-true {
  font-weight: 200;
  font-size: 38px;
}

.picture-false,
.pictureL-false {
  font-weight: 200;
  font-size: 38px;
  left: 24px;
}

#pictureText {
  top: -5px;
}

/*              caption     */
.caption {
  pointer-events: none;
  position: relative;  /* absolute */
  top: -30px;
  z-index: 100;
  font-weight: 400;
  font-size: 18px;
  color: #666;
}

#bold-caption {
  left: 50px;
}

#size-caption {
  left: 62px;
}

#color-caption {
  left: 96px;
}

#title-caption {
  left: 72px;
}

#bullet-caption {
  left: 49px;
}

#number-caption {
  left: 64px;
}

#frame-caption {
  left: 54px;
}

#pictureL-caption {
  left: 71px;
}

#picture-caption {
  visibility: hidden;
  left: 55px;
}

.tool-cursor {
  position: absolute;
  top: +17px; /* +14px; */
  z-index: 80;
}

/* *********************** */

/*     scroll toolbar */
.arrows {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
  pointer-events: initial;
  display: none; /* inline-block; */
  position: relative;
  top: -64px;
  cursor: pointer;
  background-color: #ddd;
  width: 24px;
  height: 57px;
  z-index: 500;
}

.arrows:hover {
  background-color: #bbb;
}

.arrow-l {
  float: left;
}

.arrow-r {
  float: right;
}

#img-arrow-l {
  position: relative;
  top: 13px;
  left: 8px;
  pointer-events: none;
}

#img-arrow-r {
  position: relative;
  top: 13px;
  right: -9px;
  pointer-events: none;
}

.analysis-header {
  /* background-color: #009940; */
  height: 40px;
  width: 100%;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
  border-top: 5px solid hsla(160, 100%, 30%, 1); /* #009940; */
  /* border-top-right-radius: 5px; */
  border-top-left-radius: 0;  /* 5px */
}

#toolMask {
  position: relative;
  float: right;
  top: -54px;
  left: 133px;
  height: 63px;
  width: 20px;
  z-index: 550;
  background-color: white;
}

/*      speech span     */
.speech-span {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  user-select: none;
  float: right;
  position: relative;
  top: -73px; /* -84 */
  right: 0;
  z-index: 600;
}

/*     speech button */
#speech-button {
  position: relative;
  top: 17px;
  left: -13px;
  transition: top 0.3s;
  border: 6px solid hsla(160, 100%, 30%, 1);
  border-radius: 35px;
  cursor: pointer;
  width: 66px;
  height: 66px;
  background-color: hsla(160, 100%, 30%, 1);
  color: white;
  font-size: 26px;
  font-weight: 500;
}

#speech-button:hover {
  background-color: #00b960;
}

#speech-button.listening {
  background-color: #bc000d;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

#speech-button img {
  position: relative;
  top: -3px;
  left: -8px;
  width: 55px;
}

/* images dialog */
.modal-images {
  overflow-x: auto;
  white-space: nowrap;
}

.web-img {
  border: 2px solid #fff;
  width: 100px;
}

.web-img:hover {
  border: 2px solid #4b4; /* #bbb; */
  border-radius: 8px;
}

.custom-file-input ~ .custom-file-label::after {
  visibility: hidden;
}

/*  divers */
#lexique3-connection {
  display: none;
  background-color: #f6f6f6;
}

/* loaderB32 */
.loader {
  position: fixed;
  z-index: 1100;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

/*               preference dialog */
.pref-h-size {
  width: 100px;
  padding-left: 35px;
  border: 2px solid black;
  font-size: 22px;
}

.pref-h-color {
  width: 110px;
  padding: 0;
}

.pref-h-bold {
  height: 41px;
  padding-left: 28px;
}

.pref-col1-n1 {
  font-size: 24px;
  font-weight: 600;
}

.pref-col1-n2 {
  font-size: 20px;
  font-weight: 600;
}

.pref-top5 {
  position: relative;
  top: 5px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pref-color {
  position: relative;
  left: -4px;
}

.pref-color-button {
  position: relative;
  height: 40px;
  width: 22px;
  top: -40px;
  left: 85px;
  border-radius: 0.25rem;
}

.pref-color-button:hover {
  border: 2px solid #444;
}

.num-pref {
  position: relative;
  left: 10px;
  height: 40px;
  width: 82px;
  border-color: black;
}

#color-select {
  position: absolute;
  height: 51px;
  width: 33px;
  border-radius: 0.25rem;
  visibility: hidden;
  border: 8px solid #a6a6a680; /* #ffbf0080; */
  z-index: 2000;
  cursor: pointer;
}

#color-select:hover {
  visibility: visible;
}

.color-plus {
  position: relative;
  font-size: 25px;
  font-weight: 900;
  color: #0d0d0d;
  left: 89px;
  top: -46px;
  height: 0;
  background-color: white;
  z-index: 1500;
  pointer-events: none;
}

.pref-header {
  text-align: center;
  padding: 40px;
  margin-bottom: 20px;
  background-color: lightgrey;
}

#pref-preview {
  display: none;
  position: absolute;
  line-height: 64px;
  height: 80px;
  width: 500px;
  top: -120px;
  left: 150px;
  border: 0 solid black;
  padding: 8px;
  background-color: white;
  overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#pref-preview-text {
}

.pref-body {
  padding-top: 0;
}

.pref-zone {
  position: absolute;
  z-index: 2000;
}

.no-text-sel {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


/*             ...suite #content
	background:
		af Shadow cov90s
		/*linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, */

/* Shadows */

/*
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;

	background:
*/

/* Shadow covers */

/* linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, */

/* Shadows */

/*
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: #eeeeee;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
*/

/* Opera doesn't support this in the shorthand */

/*	background-attachment: local, local, scroll, scroll; */

/* } */

/*
.slider-container{
  width:100%;
  background: #DDD;
}

.slider{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #777;
  outline: none;
  opacity: 0;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #af9050;
  cursor: pointer;
}

.slider::-moz-range-thumb{
  width:25px;
  height:25px;
  background: #af9050;
  cursor: pointer;
}
*/
